name: Build and Release for All Platforms

on:
  push:
    branches:
      [ "master" ]

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: Build C extensions
        run: python setup.py build_ext --inplace

      - name: Package with PyInstaller
        run: pyinstaller j3dview.spec

      - name: Archive artifacts
        run: 7z a j3dview-${{ github.ref_name }}-${{ matrix.os }}.zip ./dist/*

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: j3dview-${{ matrix.os }}
          path: j3dview-${{ github.ref_name }}-${{ matrix.os }}.zip

  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
          merge-multiple: true # This flattens the downloads into a single folder

      - name: "Create/Update 'Latest' Release"
        uses: ncipollo/release-action@v1
        with:
          tag: "latest"
          name: "Latest Build (master)"
          prerelease: false
          artifacts: "artifacts/*"
          allowUpdates: true
          replacesArtifacts: true
          makeLatest: true
          token: ${{ secrets.GITHUB_TOKEN }}